:root {
  --brand-color: #121212;
  --secons-brand-color: #f6f6f6;
  --backgrond-color: #d8d8d8;

  --basic-font-family: 'DM Sans', sans-serif;

  /* Text */
  --basic-font-size: 18px;
  --basic-lineheight: 1.3;

  --second-font-size: 14px;
  --second-lineheight: 1.2;

  /* Title */
  --font-size-title: 40px;
  --title-lineheight: 1.1;
}
