<section class="amenities section">
    <div class="container amenities-container">
        <h2 class="hidden-title visually-hidden">Hotel`s amenities</h2>

        <ul class="amenities-main-list list">
            <li class="amenities-main-item"> 
                <h3 class="amenities-title">General Amenities <span>&#38;</span> Facilities:</h3>
                <ul class="amenities-list list">
                    <li class="amenities-item">24-hour front desk service</li>
                    <li class="amenities-item">Daily housekeeping</li>
                    <li class="amenities-item">Free Wi-Fi throughout the hotel</li>
                    <li class="amenities-item">Elevator access</li>
                    <li class="amenities-item">Luggage storage</li>
                    <li class="amenities-item">Free Wi-Fi throughout the hotel</li>
                    <li class="amenities-item">Elevator access</li>
                    <li class="amenities-item">Luggage storage</li>
                    <li class="amenities-item">Non-smoking rooms available</li>
                    <li class="amenities-item">Meeting rooms for business and events</li>
                    <li class="amenities-item">On-site parking (surcharge)</li>
                    <li class="amenities-item">Concierge services</li>
                </ul>
            </li>
            <li class="amenities-main-item"> 
                <h3 class="amenities-title">Bathroom:</h3>
                <ul class="amenities-list list">
                    <li class="amenities-item">Private bathroom with shower</li>
                    <li class="amenities-item">Complimentary toiletries</li>
                    <li class="amenities-item">Hair dryer</li>
                    <li class="amenities-item">Fresh towels daily</li>
                    <li class="amenities-item">Deluxe bathrobes (in some room categories)</li>
                </ul>
            </li>
            <li class="amenities-main-item"> 
                <h3 class="amenities-title">Bedroom:</h3>
                <ul class="amenities-list list">
                    <li class="amenities-item">Comfortable beds with high-quality linens</li>
                    <li class="amenities-item">Blackout curtains</li>
                    <li class="amenities-item">Climate control (air conditioning and heating)</li>
                    <li class="amenities-item">Safe for valuables</li>
                    <li class="amenities-item">Writing desk and chair</li>
                    <li class="amenities-item">Flat-screen TV with cable channels</li>
                </ul>
            </li>
            <li class="amenities-main-item"> 
                <h3 class="amenities-title">Kitchen:</h3>
                <ul class="amenities-list list">
                    <li class="amenities-item">In-room kitchenette (in some room categories)</li>
                    <li class="amenities-item">Refrigerator</li>
                    <li class="amenities-item">Microwave</li>
                    <li class="amenities-item">Electric kettle</li>
                    <li class="amenities-item">Cooking utensils and cutlery</li>
                    <li class="amenities-item">Dining table and chairs</li>
                </ul>
            </li>
            <li class="amenities-main-item">
                <h3 class="amenities-title">Media:</h3>
                <ul class="amenities-list list">
                    <li class="amenities-item">Flat-screen TV with cable channels</li>
                    <li class="amenities-item">High-speed Wi-Fi</li>
                    <li class="amenities-item">iPod docking station</li>
                    <li class="amenities-item">Speaker system</li>
                    <li class="amenities-item">Electrical outlets for charging devices.</li>
                </ul>
            </ul>
        <img src="./" alt="bathroom">
        <img src="./" alt="creams on the shell">

        <button type="button">book a room</button>
    </div>   
</section>