<section class="hero-room">
  <div class="container hero-room-container">
    <div class="hero-room-block">
      <h1 class="hero-room-title hero-title">DOUBLE LUXURY ROOM</h1>
      <div class="hero-room-btn-block">
        <button type="button" class="hero-btn btn">View prices</button>
      </div>
      <p class="hero-room-text text">
        The Mimino hotel features spacious and stylish double luxury rooms with
        modern amenities for a comfortable stay.
      </p>
    </div>
    <div class="hero-room-cards">
      <ul class="hero-room-gallery list">
        <li class="hero-room-gallery-item item">
          <picture>
            <source srcset="" media="(min-width: 1440px)" />
            <source srcset="" media="(min-width: 768px)" />
            <source srcset="" media="(max-width: 767px)" />
            <img src="" alt="" class="hero-gallery-picture" />
          </picture>
        </li>
        <li class="hero-room-gallery-item item">
          <picture>
            <source srcset="" media="(min-width: 1440px)" />
            <source srcset="" media="(min-width: 768px)" />
            <source srcset="" media="(max-width: 767px)" />
            <img src="" alt="" class="hero-gallery-picture" />
          </picture>
        </li>
        <!--картинки для слайду
                  <li class="hero-room-gallery-item item">
                            <picture>
                    <source
                      srcset="
                      
                      "
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="

                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    />
                    </picture>
        </li>
                <li class="hero-room-gallery-item item">
                            <picture>
                    <source
                      srcset="
                      
                      "
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="

                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    />
                    </picture>
        </li>
                <li class="hero-room-gallery-item item">
                            <picture>
                    <source
                      srcset="
                      
                      "
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="

                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    />
                    </picture>
        </li>
                <li class="hero-room-gallery-item item">
                            <picture>
                    <source
                      srcset="
                      
                      "
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="

                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    />
                    </picture>
        </li>
                <li class="hero-room-gallery-item item">
                            <picture>
                    <source
                      srcset="
                      
                      "
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="

                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    />
                    </picture>
        </li>
                <li class="hero-room-gallery-item item">
                            <picture>
                    <source
                      srcset="
                      
                      "
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="

                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    />
                    </picture>
        </li>
                <li class="hero-room-gallery-item item">
                            <picture>
                    <source
                      srcset="
                      
                      "
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="

                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    />
                    </picture>
        </li>
                <li class="hero-room-gallery-item item">
                            <picture>
                    <source
                      srcset="
                      
                      "
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="

                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    />
                    </picture>
        </li>
                <li class="hero-room-gallery-item item">
                            <picture>
                    <source
                      srcset="
                      
                      "
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="

                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    />
                    </picture>
        </li>
                <li class="hero-room-gallery-item item">
                            <picture>
                    <source
                      srcset="
                      
                      "
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="

                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    />
                    </picture>
        </li>
                <li class="hero-room-gallery-item item">
                            <picture>
                    <source
                      srcset="
                      
                      "
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="

                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    />
                    </picture>
        </li>
                <li class="hero-room-gallery-item item">
                            <picture>
                    <source
                      srcset="
                      
                      "
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="

                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    />
                    </picture>
        </li>
                <li class="hero-room-gallery-item item">
                            <picture>
                    <source
                      srcset="
                      
                      "
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="

                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    />
                    </picture>
        </li>
              -->
      </ul>
      <button class="hero-pre-btn btn" type="button">
        <svg class="hero-pre-icons" width="7" height="14">
          <use href=""></use>
        </svg>
      </button>
      <button class="hero-next-btn btn" type="button">
        <svg class="hero-next-icons" width="7" height="14">
          <use href=""></use>
        </svg>
      </button>
    </div>
  </div>
</section>
