.complex {
    position: relative;
}

.maria {
width: 212px;
height: 61px;
background-color: #121212;
box-shadow: 1px 7px 22px rgba(0, 0, 0, 0.1);
border-radius: 6px;
display: flex;  
position: absolute; 
top: 420px;
left: 123px;
}

.maria-face {
margin-right: 12px;
background-color: #121212;
}

.name-rating {
display: flex;
flex-direction: column;
gap: 7px;
margin-top: 12px;
/* margin-left: 12px; */
}

.maria-name {
font-weight: 500;
font-size: 14px;
line-height: 1;
color: #F7F7F7;   
}


.maria-rating {
font-size: 12px;
line-height: 1.33;
color: #575757;
}

.complex-text {
    max-width: 335px;
}
.complex-title {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.18em;
text-transform: uppercase;
color: #484848;
margin-bottom: 18px;

}
.complex-text-top, .complex-text-bottom {
font-weight: 500;
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.02em;
text-transform: uppercase;
color: #121212;

}

.complex-text-top {
    margin-bottom: 14px;
}

 
