
  .rest-letters {
  
}

.rest-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #121212;
  margin-bottom: 24px;
}

.rest-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #121212;
  margin-bottom: 32px;
  max-width: 230px;
}

.rest-pics-list {
  padding: 0px;
   display: flex; 
  justify-content: space-between;
  margin-bottom: 25px;
  }

  


.rest-pics-item {
  display:block;
  margin: 0px;
  padding: 0px;
}

.glass {
 max-width: 157px;
 height: 201px; 
 }




.hotdogs {
  display: none;
}

.bottle {
  display: none;
}

.salmon {
  display: none;
}

.rest-pics-arrows {
  display: flex;
  width: 40px;
  justify-content: space-between;
  margin-bottom: 43px;
  margin-left: 10px;
  }
 .rest-left-arrow { 
  stroke: rgba(18, 18, 18, 0.3);
  fill: transparent;
}
.rest-right-arrow {
  stroke: var(--brand-color);
  fill: transparent;
}

.rest-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  
}


@media screen and (min-width: 768px) {

  .rest-letters {
    display: flex;
    gap: 32px;
  }

  .rest-pics-list {
 margin-bottom: 30px;
  }

.cocktail-glass, .expert-cooker {
 min-width: 336px;
 height: 309px; 
 }

 .rest-buttons {
  justify-content: center;
 }

 .rest-pics-arrows {
   width: 74px;
   margin-bottom: 70px;
   }

}

@media screen and (min-width: 1440px) {

 .rest-title {
font-weight: 500;
font-size: 68px;
line-height: 1;
letter-spacing: -0.02em;
 }

  .rest-letters {
    align-items: center;
    margin-bottom: 132px;
  }

  .hotdogs, .bottle, .salmon {
  display: block;
}

 .cocktail-glass, .hot-dogs, .vine-bottle,
 .expert-cooker, .baked-salmon {
  min-width: 266px;
 height: 309px; 
 }

 .rest-pics-list {
  justify-content: start;
  gap: 32px;
  margin-bottom: 55px;
   }

 .rest-pics-arrows {
  margin-bottom: 0;
  margin-left: 650px;
}

.rest-details> .container {
  position: relative;
    }

  .rest-buttons {
  position: absolute;
  top: 0px;
  left: 1000px;
  }

  
}