.container {
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 375px) {
    .container {
        width: 367px;
    }
    
}

@media screen and (min-width:768px) {
    .container {
        width: 736px;
    }    
}

@media screen and (min-width: 1440px) {
    .container {
        width: 1408px;
    }
}