<section class="about-rest section">
   <div class="container about-rest-container">
        <h2 class="visually-hidden">About a kitchen</h2>
       <ul class="list about-rest-gallary-list">
            <li class="item about-rest-gallary-item">
                <picture>
                    <source
                        srcset="
                        /img/desktop/restaurant-kitchen/about-kit1-desktop.jpg 1x,
                        /img/desktop/restaurant-kitchen/about-kit1-desktop@2x.jpg 2x"
                        media="(min-width: 1440px)">
                    <source
                        srcset="
                        /img/tablet/restaurant-kitchen/about-kit1-tablet.jpg 1x,
                        /img/tablet/restaurant-kitchen/about-kit1-tablet@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="
                        /img/mobile/restaurant-kitchen/about-kit1-mobile.jpg 1x,
                        /img/mobile/restaurant-kitchen/about-kit1-mobile@2x.jpg 2x"
                        media="(max-width: 767px)">
                    <img 
                        src="/img/desktop/restaurant-kitchen/about-kit1-desktop.jpg" 
                        alt="cook"
                        width="511"
                        class="about-rest-gallary-picture  img-1">
                </picture>
            </li>
            <li class="wrap-part-img-ab-rest">
                <div class="item about-rest-gallary-item">
                    <picture>
                            <source
                                srcset="
                                /img/desktop/restaurant-kitchen/about-kit2-desktop.jpg 1x,
                                /img/desktop/restaurant-kitchen/about-kit2-desktop@2x.jpg 2x"
                                media="(min-width: 1440px)">
                            <source
                                srcset="
                                /img/tablet/restaurant-kitchen/about-kit2-tablet.jpg 1x,
                                /img/tablet/restaurant-kitchen/about-kit2-tablet@2x.jpg 2x"
                                media="(min-width: 768px)">
                            <source
                                srcset="
                                /img/mobile/restaurant-kitchen/about-kit2-mobile.jpg 1x,
                                /img/mobile/restaurant-kitchen/about-kit2-mobile@2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img 
                                src="/img/desktop/restaurant-kitchen/about-kit2-desktop.jpg" 
                                alt="meat"
                                width="334"
                                class="about-rest-gallary-picture img-2">
                    </picture>
                    <p class="text about-rest-text-desk-1">At Mimino, we are experts in meat <span class="text-italic">preparation</span>. Our chefs use only the finest and freshest ingredients to <span class="text-italic">create delicious dishes</span> that showcase the flavors of premium cuts of meat.</p>
                </div>
                <div class="item about-rest-gallary-item">
                    <picture>
                        <source
                            srcset="
                            /img/desktop/restaurant-kitchen/about-kit3-desktop.jpg 1x,
                            /img/desktop/restaurant-kitchen/about-kit3-desktop@2x.jpg 2x"
                            media="(min-width: 1440px)">
                        <source
                            srcset="
                            /img/tablet/restaurant-kitchen/about-kit3-tablet.jpg 1x,
                            /img/tablet/restaurant-kitchen/about-kit3-tablet@2x.jpg 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="
                            /img/mobile/restaurant-kitchen/about-kit3-mobile.jpg 1x,
                            /img/mobile/restaurant-kitchen/about-kit3-mobile@2x.jpg 2x"
                            media="(max-width: 767px)">
                        <img 
                            src="/img/desktop/restaurant-kitchen/about-kit3-desktop.jpg" 
                            alt="drinks"
                            width="467"
                            class="about-rest-gallary-picture img-3">
                    </picture>
                     <p class="text about-rest-text-desk-2">Our <span class="text-italic">slow-cooking process</span> and expert seasoning bring out the best in each dish, making for an unforgettable dining experience. Come taste the magic <span class="text-italic">of meat preparation at</span> Mimino.</p>
                </div>
            </li>
       </ul>
        <div class="text-about-restaurant">
            <p class="about-rest-text-1">At Mimino, we are experts in meat <span class="text-italic">preparation</span>. Our chefs use only the finest and freshest ingredients to <span class="text-italic">create delicious dishes</span> that showcase the flavors of premium cuts of meat.</p>
            <p class="about-rest-text-2">Our <span class="text-italic">slow-cooking process</span> and expert seasoning bring out the best in each dish, making for an unforgettable dining experience. Come taste the magic <span class="text-italic">of meat preparation at</span> Mimino.</p>
        </div>
    </div> 
</section>