<section class="about-rest section">
   <div class="container about-rest-container">
        <h2 class="visually hidden">About a kitchen</h2>
       <ul class="list about-rest-gallary-list">
            <li class="item about-rest-gallary-item">
                <picture>
                    <source
                        srcset="
                        ./src/img/desktop/restaurant-kitchen/about-kit1-desktop.jpg 1x
                        ./src/img/desktop/restaurant-kitchen/about-kit1-desktop@2x.jpg 2x"
                        media="(min-width: 1440px)">
                    <source
                        srcset="
                        ./src/img/tablet/restaurant-kitchen/about-kit1-tablet.jpg 1x
                        ./src/img/tablet/restaurant-kitchen/about-kit1-tablet@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="
                        ./src/img/mobile/restaurant-kitchen/about-kit1-mobile.jpg 1x
                        ./src/img/mobile/restaurant-kitchen/about-kit1-mobile@2x.jpg 2x"
                        media="(max-width: 767px)">
                    <img 
                        src="./src/img/desktop/restaurant-kitchen/about-kit1-desktop.jpg" 
                        alt="cook"
                        width="511"
                        class="about-rest-gallary-picture">
                </picture>
            </li>
            <li class="item about-rest-gallary-item">
                <picture>
                    <source
                        srcset="
                        ./src/img/desktop/restaurant-kitchen/about-kit2-desktop.jpg 1x
                        ./src/img/desktop/restaurant-kitchen/about-kit2-desktop@2x.jpg 2x"
                        media="(min-width: 1440px)">
                    <source
                        srcset="
                        ./src/img/tablet/restaurant-kitchen/about-kit2-tablet.jpg 1x
                        ./src/img/tablet/restaurant-kitchen/about-kit2-tablet@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="
                        ./src/img/mobile/restaurant-kitchen/about-kit2-mobile.jpg 1x
                        ./src/img/mobile/restaurant-kitchen/about-kit2-mobile@2x.jpg 2x"
                        media="(max-width: 767px)">
                    <img 
                        src="./src/img/desktop/restaurant-kitchen/about-kit2-desktop.jpg" 
                        alt="meat"
                        width="334"
                        class="about-rest-gallary-picture">
                </picture>
            </li>
            <li class="item about-rest-gallary-item">
                <picture>
                    <source
                        srcset="
                        ./src/img/desktop/restaurant-kitchen/about-kit3-desktop.jpg 1x
                        ./src/img/desktop/restaurant-kitchen/about-kit3-desktop@2x.jpg 2x"
                        media="(min-width: 1440px)">
                    <source
                        srcset="
                        ./src/img/tablet/restaurant-kitchen/about-kit3-tablet.jpg 1x
                        ./src/img/tablet/restaurant-kitchen/about-kit3-tablet@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="
                        ./src/img/mobile/restaurant-kitchen/about-kit3-mobile.jpg 1x
                        ./src/img/mobile/restaurant-kitchen/about-kit3-mobile@2x.jpg 2"
                        media="(max-width: 767px)">
                    <img 
                        src="./src/img/desktop/restaurant-kitchen/about-kit3-desktop.jpg" 
                        alt="drinks"
                        width="467"
                        class="about-rest-gallary-picture">
                </picture>
            </li>
       </ul>
        <p class="text about-rest-text">At Mimino, we are experts in meat preparation. Our chefs use only the finest and freshest ingredients to create delicious dishes that showcase the flavors of premium cuts of meat.</p>
        <p class="text about-rest-text">Our slow-cooking process and expert seasoning bring out the best in each dish, making for an unforgettable dining experience. Come taste the magic of meat preparation at Mimino.</p>
    </div> 
</section>