<section class="hero-rest section">
  <div class="container hero-rest-container">
    <div class="hero-rest-block">
      <h1 class="hero-rest-title hero-title">Restaurant</h1>
      <div class="hero-rest-btn-block">
        <button type="button" class="hero-btn btn">book a table</button>
        <button type="button" class="hero-btn btn">View a menu</button>
      </div>
      <p class="hero-rest-text text">
        Whether you're in the mood for a hearty breakfast, a light lunch, or a
        romantic dinner, our menu has something for everyone.
      </p>
    </div>
    <div class="hero-rest-cards">
      <ul class="hero-rest-gallery list">
        <li class="hero-rest-gallery-item item">
          <picture>
            <source srcset="" media="(min-width: 1440px)" />
            <source srcset="" media="(min-width: 768px)" />
            <source srcset="" media="(max-width: 767px)" />
            <img src="" alt="" class="hero-gallery-picture" />
          </picture>
        </li>
        <li class="hero-rest-gallery-item item">
          <picture>
            <source srcset="" media="(min-width: 1440px)" />
            <source srcset="" media="(min-width: 768px)" />
            <source srcset="" media="(max-width: 767px)" />
            <img src="" alt="" class="hero-gallery-picture" />
          </picture>
        </li>
        <!--картинки для слайду
            <li class="hero-rest-gallery-item item">
                            <picture>
                    <source
                      srcset=""
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset=""
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset=""
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    /></picture>
        </li>
        <li class="hero-rest-gallery-item item">
                            <picture>
                    <source
                      srcset=" "
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset=""
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset=""
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    /></picture>
        </li>
        <li class="hero-rest-gallery-item item">
                            <picture>
                    <source
                      srcset=""
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset=""
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset=""
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    /></picture>
        </li>
        <li class="hero-rest-gallery-item item">
                            <picture>
                    <source
                      srcset=" "
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset=" "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset=""
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    /></picture>
        </li>
        <li class="hero-rest-gallery-item item">
                            <picture>
                    <source
                      srcset=""
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset=" "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset=""
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    /></picture>
        </li>
        <li class="hero-rest-gallery-item item">
                            <picture>
                    <source
                      srcset=""
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset=""
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset=""
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    /></picture>
        </li>
        <li class="hero-rest-gallery-item item">
                            <picture>
                    <source
                      srcset=""
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset=" "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset=""
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    /></picture>
        </li>
        <li class="hero-rest-gallery-item item">
                            <picture>
                    <source
                      srcset=""
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset=""
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset=""
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    /></picture>
        </li>
        <li class="hero-rest-gallery-item item">
                            <picture>
                    <source
                      srcset=""
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset=""
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset=""
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    /></picture>
        </li>
        <li class="hero-rest-gallery-item item">
                            <picture>
                    <source
                      srcset=" "
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset=""
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset=""
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    /></picture>
        </li>
        <li class="hero-rest-gallery-item item">
                            <picture>
                    <source
                      srcset=" "
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset=""
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    /></picture>
        </li>
        <li class="hero-rest-gallery-item item">
                            <picture>
                    <source
                      srcset=""
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset=""
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    /></picture>
        </li>
        <li class="hero-rest-gallery-item item">
                            <picture>
                    <source
                      srcset=" "
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset=" "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset=""
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    /></picture>
        </li>
-->
      </ul>
      <button class="hero-pre-btn btn" type="button">
        <svg class="hero-pre-icons" width="7" height="14">
          <use href=""></use>
        </svg>
      </button>
      <button class="hero-next-btn btn" type="button">
        <svg class="hero-next-icons" width="7" height="14">
          <use href=""></use>
        </svg>
      </button>
    </div>
  </div>
</section>
