<section class="menu-rest section">
    <div class="container menu-wrap-section">
        <h2 class="menu-rest-title">RESTAURANT MENU</h2>
       <ul class="menu-container-wrap">
            <li class="menu-rest-hot-meals menu-rest-gap">
                <h3 class="menu-rest-suptitle">Hot meals</h3>
                <ul class="list menu-rest-list ">
                    <li class="item menu-rest-item">
                        <div class="menu-rest-wrap">
                            <p class="menu-description-name">Veal borscht with beans</p>
                            <p class="menu-description-wight">400 g</p>
                        </div>
                        <div class="menu-rest-wrap sub-menu-rest-wrap">
                            <p class="menu-description-composition">Veal, potatoes, cabbage, carrots, onions, beans, garlic, tomatoes, greens, sour cream</p>
                            <p class="menu-description-price">240 UAH</p>
                        </div>
                    </li>
                    <li class="item menu-rest-item">
                        <div class="menu-rest-wrap">
                            <p class="menu-description-name">Cheese soup with chicken</p>
                            <p class="menu-description-wight">400 g</p>
                        </div>
                        <div class="menu-rest-wrap sub-menu-rest-wrap">
                            <p class="menu-description-composition">Chicken, potatoes, carrots, onions, mushrooms, soft cheese, greens</p>
                            <p class="menu-description-price">200 UAH</p>
                        </div>
                    </li>
                    <li class="item menu-rest-item">
                        <div class="menu-rest-wrap">
                            <p class="menu-description-name">Carbonara pasta</p>
                            <p class="menu-description-wight">400 g</p>
                        </div>
                        <div class="menu-rest-wrap sub-menu-rest-wrap">
                            <p class="menu-description-composition">Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens</p>
                            <p class="menu-description-price">430 UAH</p>
                        </div>
                    </li>
                    <li class="item menu-rest-item">
                        <div class="menu-rest-wrap">
                            <p class="menu-description-name">Pork steak</p>
                            <p class="menu-description-wight">400 g</p>
                        </div>
                        <div class="menu-rest-wrap sub-menu-rest-wrap">
                            <p class="menu-description-composition">Pork tenderloin, spices, served with sweet chili sauce and vegetables</p>
                            <p class="menu-description-price">500 UAH</p>
                        </div>
                    </li>
                    <li class="item menu-rest-item">
                        <div class="menu-rest-wrap">
                            <p class="menu-description-name">Gorbusha in white wine sauce</p>
                            <p class="menu-description-wight">400 g</p>
                        </div>
                        <div class="menu-rest-wrap sub-menu-rest-wrap">
                            <p class="menu-description-composition">Tender redfish, cream sauce based on white wine</p>
                            <p class="menu-description-price">400 UAH</p>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="menu-rest-hot-meals hide-list">
                <h3 class="menu-rest-suptitle">Side dishes and snacks</h3>
                <ul class="list menu-rest-list ">
                    <li class="item menu-rest-item">
                        <div class="menu-rest-wrap">
                            <p class="menu-description-name">Baked vegetables</p>
                            <p class="menu-description-wight">200 g</p>
                        </div>
                        <div class="menu-rest-wrap sub-menu-rest-wrap">
                            <p class="menu-description-composition">Zucchini, pepper, tomato, eggplant</p>
                            <p class="menu-description-price">230 UAH</p>
                        </div>
                    </li>
                    <li class="item menu-rest-item">
                        <div class="menu-rest-wrap">
                            <p class="menu-description-name">French fries</p>
                            <p class="menu-description-wight">150 g</p>
                        </div>
                        <div class="menu-rest-wrap sub-menu-rest-wrap">
                            <p class="menu-description-composition">Potatoes, tomato sauce</p>
                            <p class="menu-description-price">160 UAH</p>
                        </div>
                    </li>
                    <li class="item menu-rest-item">
                        <div class="menu-rest-wrap">
                            <p class="menu-description-name">Peasant-style potatoes</p>
                            <p class="menu-description-wight">150 g</p>
                        </div>
                        <div class="menu-rest-wrap sub-menu-rest-wrap">
                            <p class="menu-description-composition">Potatoes, spices, spicy sauces</p>
                            <p class="menu-description-price">160 UAH</p>
                        </div>
                    </li>
                    <li class="item menu-rest-item">
                        <div class="menu-rest-wrap">
                            <p class="menu-description-name">Crisp pickles from the barrel</p>
                            <p class="menu-description-wight">250 g</p>
                        </div>
                        <div class="menu-rest-wrap sub-menu-rest-wrap">
                            <p class="menu-description-composition">Salted cucumber, pickled tomato, sauerkraut, Korean carrot</p>
                            <p class="menu-description-price">350 UAH</p>
                        </div>
                    </li>
                    <li class="item menu-rest-item">
                        <div class="menu-rest-wrap">
                            <p class="menu-description-name">Chicken wings in honey sauce</p>
                            <p class="menu-description-wight">400 g</p>
                        </div>
                        <div class="menu-rest-wrap sub-menu-rest-wrap">
                            <p class="menu-description-composition">Chicken wings, mustard-honey sauce, served with carrots, celery and blue cheese sauce</p>
                            <p class="menu-description-price">400 UAH</p>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="menu-rest-hot-meals hide-list menu-rest-gap">
                <h3 class="menu-rest-suptitle">Salads</h3>
                <ul class="list menu-rest-list list-menu-gap ">
                    <li class="item menu-rest-item">
                        <div class="menu-rest-wrap">
                            <p class="menu-description-name">Caesar with chicken</p>
                            <p class="menu-description-wight">230 g</p>
                        </div>
                        <div class="menu-rest-wrap sub-menu-rest-wrap">
                            <p class="menu-description-composition">Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese, croutons, Caesar sauce</p>
                            <p class="menu-description-price">450 UAH</p>
                        </div>
                    </li>
                    <li class="item menu-rest-item">
                        <div class="menu-rest-wrap">
                            <p class="menu-description-name">Caesar with shrimp</p>
                            <p class="menu-description-wight">230 g</p>
                        </div>
                        <div class="menu-rest-wrap sub-menu-rest-wrap">
                            <p class="menu-description-composition">Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese, croutons, caesar sauce</p>
                            <p class="menu-description-price">300 UAH</p>
                        </div>
                    </li>
                    <li class="item menu-rest-item">
                        <div class="menu-rest-wrap">
                            <p class="menu-description-name">Greek salad</p>
                            <p class="menu-description-wight">230 g</p>
                        </div>
                        <div class="menu-rest-wrap sub-menu-rest-wrap">
                            <p class="menu-description-composition">Fresh cucumber, tomato, bell pepper, olives, brynza cheese, lettuce, sauce</p>
                            <p class="menu-description-price">280 UAH</p>
                        </div>
                    </li>
                    <li class="item menu-rest-item">
                        <div class="menu-rest-wrap">
                            <p class="menu-description-name">Meat salad</p>
                            <p class="menu-description-wight">230 g</p>
                        </div>
                        <div class="menu-rest-wrap sub-menu-rest-wrap">
                            <p class="menu-description-composition">Chicken fillet or pork tenderloin, fresh cucumber, tomato, bell pepper, ranch sauce</p>
                            <p class="menu-description-price">300 UAH</p>
                        </div>
                    </li>
                </ul>
            </li>
         <li class="menu-rest-group-des-drink">
               <div class="menu-rest-hot-meals hide-list desert-gap">
                    <h3 class="menu-rest-suptitle">Desserts</h3>
                    <ul class="list menu-rest-list list-menu-gap">
                        <li class="item menu-rest-item">
                            <div class="menu-rest-wrap sub-menu-rest-wrap">
                                <p class="menu-description-name">Napoleon cake</p>
                                <p class="menu-description-price">200 UAH</p>
                            </div>
                        </li>
                        <li class="item menu-rest-item">
                            <div class="menu-rest-wrap sub-menu-rest-wrap">
                                <p class="menu-description-name">Poppy cake</p>
                                <p class="menu-description-price">300 UAH</p>
                            </div>
                        </li>
                        <li class="item menu-rest-item">
                            <div class="menu-rest-wrap sub-menu-rest-wrap">
                                <p class="menu-description-name">Tiramisu</p>
                                <p class="menu-description-price">260 UAH</p>
                            </div>
                        </li>
                    </ul>
               </div>
                <div class="menu-rest-hot-meals hide-list">
                    <h3 class="menu-rest-suptitle">Drinks</h3>
                    <ul class="list menu-rest-list list-menu-gap">
                        <li class="item menu-rest-item">
                            <div class="menu-rest-wrap sub-menu-rest-wrap">
                                <p class="menu-description-name">Black/green tea</p>
                                <p class="menu-description-price"> 100 UAH</p>
                            </div>
                        </li>
                        <li class="item menu-rest-item">
                            <div class="menu-rest-wrap sub-menu-rest-wrap">
                                <p class="menu-description-name">Espresso</p>
                                <p class="menu-description-price"> 100 UAH</p>
                            </div>
                        </li>
                        <li class="item menu-rest-item">
                            <div class="menu-rest-wrap sub-menu-rest-wrap">
                                <p class="menu-description-name">Cappuccino</p>
                                <p class="menu-description-price"> 100 UAH</p>
                            </div>
                        </li>
                    </ul>
                </div>
         </li>
           <div class="btn-r-l">
                <button class="menu-pre-btn btn" type="button">
                    <svg class="menu-pre-left" width="24" height="24">
                        <use href="../../../img/icon-sprite.svg#icon-left"></use>
                    </svg>
                </button>
                <button class="menu-next-btn btn" type="button">
                    <svg class="menu-next-icons" width="24" height="24">
                        <use href="../../../img/icon-sprite.svg#icon-right"></use>
                    </svg>
                </button>
           </div>
           <div class="menu-btn-wrap"><button type="button" class="menu-btn btn white js-open-modal" data-modal="2">book a table</button></div>
       </ul>
    </div>
</section>