<section class="section">
  <div class="container">
    <ul>
      <li>
        <h3>General Amenities & Facilities:</h3>
        <ul>
          <li>24-hour front desk service</li>
          <li>Daily housekeeping</li>
          <li>Free Wi-Fi throughout the hotel</li>
          <li>Elevator access</li>
          <li>Luggage storage</li>
          <li>Non-smoking rooms available</li>
          <li>Meeting rooms for business and events</li>
          <li>On-site parking (surcharge)</li>
          <li>Concierge services</li>
        </ul>
      </li>
      <li>
        <h3>Bathroom:</h3>
        <ul>
          <li>Private bathroom with shower</li>
          <li>Complimentary toiletries</li>
          <li>Hair dryer</li>
          <li>Fresh towels daily</li>
          <li>Deluxe bathrobes (in some room categories)</li>
        </ul>
      </li>
      <li>
        <h3>Bedroom:</h3>
        <ul>
          <li>Comfortable beds with high-quality linens</li>
          <li>Blackout curtains</li>
          <li>Climate control (air conditioning and heating)</li>
          <li>Safe for valuables</li>
          <li>Writing desk and chair</li>
          <li>Flat-screen TV with cable channels</li>
        </ul>
      </li>
      <li>
        <h3>Kitchen:</h3>
        <ul>
          <li>In-room kitchenette (in some room categories)</li>
          <li>Refrigerator</li>
          <li>Microwave</li>
          <li>Electric kettle</li>
          <li>Cooking utensils and cutlery</li>
          <li>Dining table and chairs</li>
        </ul>
      </li>
      <li>
        <h3>Media:</h3>
        <ul>
          <li>Flat-screen TV with cable channels</li>
          <li>High-speed Wi-Fi</li>
          <li>iPhone docking station</li>
          <li>Speaker system</li>
          <li>Electrical outlets for charging devices.</li>
        </ul>
      </li>
    </ul>
    <div class="pic-amen-tr-room">
      <picture>
        <source srcset="/img/desktop/room-page/page-room1-desktop.jpg 1x, /img/desktop/room-page/page-room1-desktop@2x.jpg 2x"
          media="(min-width: 1440px)">
        <source srcset="/img/tablet/room-page/page-room1-tablet.jpg 1x, /img/tablet/room-page/page-room1-tablet@2x.jpg 2x"
          media="(min-width: 768px)">
        <source srcset="/img/mobile/room-page/page-room1.jpg 1x, /img/mobile/room-page/page-room1@2x.jpg 2x"
          media="(min-width: 375px)">
        <img src="/img/mobile/room-page/page-room1.jpg" alt="shower">
      </picture>
      <picture>
        <source srcset="/img/desktop/room-page/page-room2-desktop.jpg 1x, /img/desktop/room-page/page-room2-desktop@2x.jpg 2x"
          media="(min-width: 1440px)">
        <source srcset="/img/tablet/room-page/page-room2-tablet.jpg 1x, /img/tablet/room-page/page-room2-tablet@2x.jpg 2x"
          media="(min-width: 768px)">
        <source srcset="/img/mobile/room-page/page-room2.jpg 1x, /img/mobile/room-page/page-room2@2x.jpg 2x"
          media="(min-width: 375px)">
        <img src="/img/mobile/room-page/page-room2.jpg" alt="bathroom">
      </picture>
    </div>
    <button type="button">Book a room</button>
  </div>
</section>
