<section class="about-complex">
  <h2 class="visually-hidden">About a complex</h2>
  <div class="container">
    <div class="complex">

      <!-- <ul class="complex-pics-list list"> -->
        <!-- <li class="complex-pics-item"> -->
          <picture class="chimney">
            <source srcset="/img/desktop/main-about-complex/about-complex2-desktop.jpg 1x, 
          /img/desktop/main-about-complex/about-complex2-desktop@2x.jpg 2x" media="(min-width: 1440px)" />
            <source srcset="/img/tablet/main-about-complex/about-complex2-tablet.jpg 1x, 
          /img/tablet/main-about-complex/about-complex2-tablet@2x.jpg 2x" media="(min-width: 768px)" />
            <source srcset="/img/mobile/main-about-complex/about-complex2-mobile.jpg 1x,
          /img/mobile/main-about-complex/about-complex2-mobile@2x.jpg 2x" media="(min-width: 375px)" />
            <img class="pic-chimney" src="/img/mobile/main-about-complex/about-complex2-mobile.jpg" alt="marias-chimney" width="335"
              height="442" />
          </picture>
        <!-- </li> -->
        <!-- <li class="complex-pics-item"> -->
          <!-- <div class="pic-bathroom"> -->
          <picture class="bathroom">
            <source srcset="/img/desktop/main-about-complex/bath-desktop-1x.jpg 1x, 
          /img/desktop/main-about-complex/bath-desktop-2x.jpg 2x" media="(min-width: 1440px)" />
            <source srcset="/img/tablet/main-about-complex/bath-tablet-1x.jpg 1x, 
          /img/tablet/main-about-complex/bath-tablet-2x.jpg 2x" media="(min-width: 768px)" />
            <source srcset="/img/mobile/main-about-complex/bath-mobile-1x.jpg 1x,
          /img/mobile/main-about-complex/bath-mobile-1x.jpg 2x" media="(min-width: 375px)" />
            <img src="/img/mobile/main-about-complex/bath-mobile-1x.jpg" alt="marias-bathroom" width="282"
              height="153" class="pic-bathroom-img"/>
          </picture>
        <!-- </div> -->
        <!-- </li> -->
      <!-- </ul> -->

      <div class="maria">
        <img class="maria-face" src="/img/desktop/main-about-complex/about-complex3-desktop.jpg" alt="marias-face"
          srcset="/img/desktop/main-about-complex/about-complex3-desktop.jpg 1x, 
          /img/desktop/main-about-complex/about-complex3-desktop@2x.jpg 2x" width="41" height="41" />


        <div class="name-rating">
          <p class="maria-name">Maria</p>
          <p class="maria-rating">give rating 4.5</p>
        </div>
      </div>

      <div class="complex-text">
        <h3 class="complex-title">restaurant-hotel complex</h3>
        <p class="complex-text-top">Indulge in a taste of luxury with every bite at
          Hotel Mimino. From the freshest seafood to
          the most succulent steaks, every dish is
          crafted with care to ensure that you enjoy
          a truly memorable dining experience.
          <p class="complex-text-bottom">Treat yourself to a taste of the good life
            and come dine with us today!</p>
      </div>
    </div>
    <!-- ------------------------ -->
    <div class="business">

      <picture class="business-table-drinks">
        <source srcset="/img/desktop/main-about-complex/about-complex5-desktop.jpg 1x, 
          /img/desktop/main-about-complex/about-complex5-desktop@2x.jpg 2x" media="(min-width: 1440px)" />
        <source srcset="/img/tablet/main-about-complex/about-complex5-tablet.jpg 1x, 
          /img/tablet/main-about-complex/about-complex5-tablet@2x.jpg 2x" media="(min-width: 768px)" />
        <source srcset="/img/mobile/main-about-complex/about-complex5-mobile.jpg 1x,
          /img/mobile/main-about-complex/about-complex5-mobile@2x.jpg 2x" media="(min-width: 375px)" />
        <img src="/img/mobile/main-about-complex/about-complex5-mobile.jpg" alt="table drinks" width="335"
          height="311" class="business-table-drinks-img" />
      </picture>

      <div class="alex">
        <img class="alex-face" src="/img/desktop/main-about-complex/about-complex6-desktop.jpg" alt="alexanders face"
          srcset="/img/desktop/main-about-complex/about-complex6-desktop.jpg 1x, 
          /img/desktop/main-about-complex/about-complex6-desktop@2x.jpg 2x" width="41" height="41" />


        <div class="name-rating">
          <p class="maria-name">Alexander</p>
          <p class="maria-rating">give rating 5.5</p>
        </div>
      </div>

      <picture class="business-old-hall">
        <source srcset="/img/desktop/main-about-complex/about-complex4-desktop.jpg 1x, 
          /img/desktop/main-about-complex/about-complex4-desktop@2x.jpg 2x" media="(min-width: 1440px)" />
        <source srcset="/img/tablet/main-about-complex/about-complex4-tablet.jpg 1x, 
          /img/tablet/main-about-complex/about-complex4-tablet@2x.jpg 2x" media="(min-width: 768px)" />
        <source srcset="/img/mobile/main-about-complex/about-complex4-mobile.jpg 1x,
          /img/mobile/main-about-complex/about-complex4-mobile@2x.jpg 2x" media="(min-width: 375px)" />
        <img src="/img/mobile/main-about-complex/about-complex4-mobile.jpg" alt="old style hall" width="335"
          height="311" class="business-old-hall-img" />
      </picture>

      <div class="business-advert">
        <h3 class="business-title">business class hotel</h3>
        <p class="business-text">The Mimino hotel features spacious<br>
          and stylish double luxury rooms<br>
          with modern amenities for a<br>
          comfortable stay.</p>
      </div>

    </div>

  </div>
</section>