<section class="section-contacts section">
    <div class="container">
        <h2 class="title titele-contacts">Location</h2>
        <div class="map-wrapper">
            <img 
                srcset=""
                src="" 
                alt="map"
                width="335px"
                height="384px">
        </div>
        <div class="contact-info-wrapper">
            <address class="address">
                <div class="address-text">
                    Ukraine, Poltava, St. Marshal Biryuzov, 15
                </div>
                <div class="phones">
                    <p>call us:</p>
                    <ul class="address-list list">
                        <li class="item address-item"><a class="address-tel link" href="tel:0955559533">(095) 555 95 33</a></li>
                        <li class="item address-item"><a class="address-tel link" href="tel:0668491089">(066) 849 10 89</a></li>
                    </ul>
                </div>
            </address>
        </div>
    </div>
</section>