<footer>
  <section class="footer-section section">
    <div class="footer-wrap">
      <div class="footer-container container">
        <nav class="footer-nav">
          <ul class="footer-nav-list list">
            <li class="footer-nav-item">
              <a href="./index.html" class="footer-nav-link link">Home</a>
            </li>
            <li class="footer-nav-item">
              <a href="./hotel.html" class="footer-nav-link link">hotel</a>
            </li>
            <li class="footer-nav-item">
              <a href="./restaurant.html" class="footer-nav-link link"
                >restaurant</a
              >
            </li>
          </ul>
        </nav>
        <div class="footer-logo">
          <a class="footer-link link" href="./index.html">
            <span class="footer-logo-text logo-mimino">Mimino</span>
            <span class="footer-logo-text logo-about">
              restaurant-hotel complex</span
            >
          </a>
        </div>

        <!----------------  соц сети -->
        <div class="footer-social-wrap">
          <ul class="footer-social-list list">
            <li class="footer-social-item">
              <a
                class="footer-link-social link"
                href="https://www.instagram.com/"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                <svg
                  class="footer-icon-social icon-instagram"
                  width="20px"
                  height="20px"
                >
                  <use href="/img/icon-sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social-item">
              <a
                class="footer-link-social link"
                href="https://uk-ua.facebook.com/"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                <svg
                  class="footer-icon-social icon-facebook"
                  width="20px"
                  height="20px"
                >
                  <use href="/img/icon-sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social-item">
              <a
                class="footer-link-social link"
                href="https://twitter.com/"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                <svg
                  class="footer-icon-social icon-twitter"
                  width="20px"
                  height="20px"
                >
                  <use href="/img/icon-sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</footer>
