<footer>
    <a class="header-link link" href="../index.html">
        <span class="logo-text logo-mimino">Mimino</span>
        <span class="logo-text logo-about"> restaurant-hotel complex</span>
    </a>

    <!----------------  соц сети -->
    <div class="social-link">
        <ul class="social-list">
            <li class="social-item">
                <a class="link-social" href="https://www.instagram.com/" target="_blank">
                    <svg class="icon-social" width="24px" height="24px">
                        <use href="../img/icon-sprite.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="social-item">
                <a class="link-social" href="https://uk-ua.facebook.com/" target="_blank">
                    <svg class="icon-social" width="24px" height="24px">
                        <use href="../img/icon-sprite.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="social-item">
                <a class="link-social" href="https://twitter.com/" target="_blank">
                    <svg class="icon-social" width="24px" height="24px">
                        <use href="../img/icon-sprite.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
        </ul> 
      </div>
</footer>