<header class="header">
  <div class="container">
    <!-- data-menu-close -->
    <button
      type="button"
      class="mobile-menu-btn"
      data-menu-open
      aria-expanded="false"
    >
      <svg class="icon-menu">
        <use
          href="/img/icon-sprite.svg#icon-burger"
          class="icon-burger hidden-icon-burger"
        ></use>
        <use
          href="/img/icon-sprite.svg#icon-cross"
          class="icon-cross hidden-icon hidden-icon-cross"
        ></use>
      </svg>
    </button>
    <nav class="nav">
      <ul class="nav-list list">
        <li class="nav-item">
          <a href="/" class="nav-link link nav-home">Home</a>
        </li>
        <li class="nav-item">
          <a href="./hotel.html" class="nav-link link nav-hotel">hotel</a>
        </li>
        <li class="nav-item">
          <a href="./restaurant.html" class="nav-link link nav-restaurant"
            >restaurant</a
          >
        </li>
      </ul>
      <a class="header-link link" href="./index.html">
        <span class="logo-text logo-mimino">Mimino</span>
        <span class="logo-text logo-about"> restaurant-hotel complex</span>
      </a>
    </nav>

    <!----------------  соц сети -->
    <div class="social-link">
      <ul class="social-list list">
        <li class="social-item">
          <a
            class="link-social link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="icon-social icon-instagram" width="24px" height="24px">
              <use href="/img/icon-sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="link-social link"
            href="https://uk-ua.facebook.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="icon-social icon-facebook" width="24px" height="24px">
              <use href="/img/icon-sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="link-social link"
            href="https://twitter.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="icon-social icon-twitter" width="24px" height="24px">
              <use href="/img/icon-sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <load src="partials/mobile-menu.html" />
</header>
