<header class="header">
  <div class="container">
    <button type="button" class="mobile-menu-btn">
        <svg class="icon-menu" width="32px" height="32px">
            <use href="../img/icon-sprite.svg#icon-burger"></use>
            <use href="../img/icon-sprite.svg"></use>
        </svg>
    </button>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item"><a href="../index.html" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="../hotel.html" class="nav-link">hotel</a></li>
        <li class="nav-item"><a href="../restaurant.html" class="nav-link">restaurant</a></li>
      </ul>
      <a class="header-link link" href="../index.html">
        <span class="logo-text logo-mimino">Mimino</span>
        <span class="logo-text logo-about"> restaurant-hotel complex</span>
      </a>
    </nav>

    <!----------------  соц сети -->
    <div class="social-link">
      <ul class="social-list">
          <li class="social-item">
              <a class="link-social" href="">
                  <svg class="icon-social" width="24px" height="24px">
                      <use href="../img/icon-sprite.svg#icon-instagram"></use>
                  </svg>
              </a>
          </li>
          <li class="social-item">
              <a class="link-social" href="">
                  <svg class="icon-social" width="24px" height="24px">
                      <use href="../img/icon-sprite.svg#icon-facebook"></use>
                  </svg>
              </a>
          </li>
          <li class="social-item">
              <a class="link-social" href="">
                  <svg class="icon-social" width="24px" height="24px">
                      <use href="../img/icon-sprite.svg#icon-twitter"></use>
                  </svg>
              </a>
          </li>
      </ul> 
    </div>
  </div>
</header>
