<section class="hero">
  <div class="container hero-container">
    <div class="hero-block">
      <h1 class="hero-title">Mimino</h1>
      <p class="hero-text text">
        Whether you're in the mood for a hearty breakfast, a light lunch, or a
        romantic dinner, our menu has something for everyone.
      </p>
      <p class="hero-text text">
        At Hotel Mimino, we believe that great food should be available to
        everyone, no matter the time of day.
      </p>
<!--  фонова картинка
      -->
      <div class="hero-btn-block">
        <button type="button" class="hero-btn btn">book a room</button>
        <button type="button" class="hero-btn btn">book a table</button>
    </div>
  </div>
</section>
