
<section class="hero section">
<div class="container hero-container">
  <div class="hero-block">
    <h1 class="hero-title">Mimino</h1>
    <div class="tumb">
    <div class="text">
    <p class="hero-text">
      Whether you're in the mood for a hearty breakfast, a light lunch, or <span>a
        romantic dinner,</span> our menu has something for everyone.
    </p>
    <p class="hero-text text-two">
      At Hotel Mimino,<span>we believe</span> that great food should be available to
      everyone, no matter the time of day.
    </p>
  </div>
    <div class="hero-btn-block ">
      <button type="button" class="hero-btn btn white js-open-modal" data-modal="1">book a room</button>
      <button type="button" class="hero-btn btn white js-open-modal" data-modal="2">book a table</button>
    </div>
  </div>
  </div>
</div>
</section>