<section class="section details">
  <div class="container">
    <h2 class="title details-title">Hotel</h2>
    <p class="text details-desc">
      Book your stay with us now and experience the epitome of comfort and
      luxury at our hotel. We guarantee you'll be thrilled with your decision.
    </p>
    <ul class="list details-img-list">
      <li class="item details-img-item">
        <picture>
          <source srcset="1x, 2x" media="(min-width: 1440px)" />
          <source srcset="1x, 2x" media="(min-width: 768px)" />
          <source srcset="1x, 2x" media="(min-width: 375px)" />
          <img
            src=""
            alt="bedroom"
            width="335"
            height="417"
          />
        </picture>
      </li>
      <li class="item details-img-item">
        <picture>
          <source srcset="1x, 2x" media="(min-width: 1440px)" />
          <source srcset="1x, 2x" media="(min-width: 768px)" />
          <source srcset="1x, 2x" media="(min-width: 375px)" />
          <img
            src=""
            alt="bottles"
            width="158"
            height="128"
          />
        </picture>
      </li>
      <li class="item details-img-item">
        <picture>
          <source srcset="1x, 2x" media="(min-width: 1440px)" />
          <source srcset="1x, 2x" media="(min-width: 768px)" />
          <source srcset="1x, 2x" media="(min-width: 375px)" />
          <img
            src=""
            alt="bathtub"
            width="158"
            height="128"
          />
        </picture>
      </li>
      <li class="item details-img-item">
        <picture>
          <source srcset="1x, 2x" media="(min-width: 1440px)" />
          <source srcset="1x, 2x" media="(min-width: 768px)" />
          <source srcset="1x, 2x" media="(min-width: 375px)" />
          <img
            src=""
            alt="bathroom"
            width="158"
            height="128"
          />
        </picture>
      </li>
      <li class="item details-img-item">
        <picture>
          <source srcset="1x, 2x" media="(min-width: 1440px)" />
          <source srcset="1x, 2x" media="(min-width: 768px)" />
          <source srcset="1x, 2x" media="(min-width: 375px)" />
          <img
            src=""
            alt="care products"
            width="158"
            height="128"
          />
        </picture>
      </li>
    </ul>
    <button type="button" class="btn">Book a room</button>
    <a href="../hotel.html" class="link">View rooms</a>
  </div>
</section>
