<div class="mobile-menu is-hidden" data-menu>
    <div class="container mobile-menu-content">
        <nav class="nav">
            <ul class="nav-list list">
              <li class="nav-item"><a href="../index.html" class="nav-link link">Home</a></li>
              <li class="nav-item"><a href="../hotel.html" class="nav-link link">hotel</a></li>
              <li class="nav-item"><a href="../restaurant.html" class="nav-link link">restaurant</a></li>
            </ul>
          </nav>
      
          <!----------------  соц сети -->
          <div class="social-link">
            <ul class="social-list list">
                <li class="social-item">
                    <a class="link-social link" href="https://www.instagram.com/" target="_blank">
                        <svg class="icon-social" width="24px" height="24px">
                            <use href="../img/icon-sprite.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-item">
                    <a class="link-social link" href="https://uk-ua.facebook.com/" target="_blank">
                        <svg class="icon-social" width="24px" height="24px">
                            <use href="../img/icon-sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-item">
                    <a class="link-social link" href="https://twitter.com/" target="_blank">
                        <svg class="icon-social" width="24px" height="24px">
                            <use href="../img/icon-sprite.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
            </ul> 
          </div>
    </div>
</div>    