<section class="rest-details">
  <div class="container">
    <div class="rest-letters">
      <h2 class="rest-title">restaurant</h2>
      <p class="rest-text">
        Relax and unwind with our delicious offerings, available any time of
        day.
      </p>
    </div>

    <ul class="rest-pics-list list">
      <li class="rest-pics-item">
        <picture class="glass">
          <source
            srcset="
              /img/desktop/main-restaurant-detals/menu1-desktop.jpg 1x,
              /img/desktop/main-restaurant-detals/menu1-desktop@2x.jpg 2x "
            media="(min-width: 1440px)"
          />
          <source
            srcset="/img/tablet/main-restaurant-detals/rest-det1-tablet.jpg 1x,
              /img/tablet/main-restaurant-detals/rest-det1-tablet@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/mobile/main-restaurant-detals/menu1-mobile.jpg 1x,
              /img/mobile/main-restaurant-detals/menu1-mobile@2x.jpg 2x"            media="(min-width: 375px)"
          />
          <img class="cocktail-glass"
            src="/img/mobile/main-restaurant-detals/menu1-mobile.jpg"
            alt="cocktail glass" width="158" height="201"
          />
        </picture>
      </li>
      <li class="rest-pics-item">
        <picture class="hotdogs">
          <source
            srcset="/img/desktop/main-restaurant-detals/menu2-desktop.jpg 1x,
              /img/desktop/main-restaurant-detals/menu2-desktop@2x.jpg 2x"
            media="(min-width: 1440px)"
          />
          <img class="hot-dogs"
          src="/img/desktop/main-restaurant-detals/menu2-desktop.jpg"
            alt="hot-dogs" width="158" height="201"
          />
        </picture>
      </li>
      <li class="rest-pics-item">
        <picture class="bottle">
          <source
            srcset=" /img/desktop/main-restaurant-detals/menu3-desktop.jpg 1x,
              /img/desktop/main-restaurant-detals/menu3-desktop@2x.jpg 2x"
            media="(min-width: 1440px)"
          />
          <img class="vine-bottle"
            src="/img/desktop/main-restaurant-detals/menu3-desktop.jpg"
            alt="vine-bottle"
            width="158"
            height="201"
          />
        </picture>
      </li>
      <li class="rest-pics-item">
        <picture class="cooker">
          <source
            srcset="/img/desktop/main-restaurant-detals/menu4-desktop.jpg 1x,
              /img/desktop/main-restaurant-detals/menu4-desktop@2x.jpg 2x"
            media="(min-width: 1440px)"
          />
          <source
            srcset="/img/tablet/main-restaurant-detals/rest-det2-tablet.jpg 1x,
              /img/tablet/main-restaurant-detals/rest-det2-tablet@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/mobile/main-restaurant-detals/menu2-mobile.jpg 1x,
              /img/mobile/main-restaurant-detals/menu2-mobile@2x.jpg 2x"
            media="(min-width: 375px)"
          />
          <img class="expert-cooker"
            src="/img/mobile/main-restaurant-detals/menu2-mobile.jpg"
            alt="experienced cooker" width="158" height="201"
          />
        </picture>
      </li>
      <li class="rest-pics-item">
        <picture class="salmon">
          <source
            srcset="
              /img/desktop/main-restaurant-detals/menu5-desktop.jpg 1x,
              /img/desktop/main-restaurant-detals/menu5-desktop@2x.jpg 2x"
            media="(min-width: 1440px)"
          />
          <img class="baked-salmon" src="/img/desktop/main-restaurant-detals/menu5-desktop.jpg" alt="baked salmon" width="158" height="201" />
        </picture>
      </li>
    </ul>

    <div class="rest-buttons">
      <button type="button" class="rest-book-tbl btn">book a table</button>
      <a class="rest-menu btn link" href="" target="_blank">View the menu</a>
    </div>
  </div>
</section>
