<section class="rest-details">
    <div class="container">

        <div class="rest-letters">
        <h2 class="rest-title">restaurant</h2>
        <p class="rest-text">Relax and unwind with our<br>
            delicious offerings, available<br>
            any time of day.</p>
        </div>

        <ul class="rest-pics-list">
            <li class="rest-pics-item">
        <picture class="glass">
          <source srcset="1x, 2x" media="(min-width: 1440px)" />
          <source srcset="1x, 2x" media="(min-width: 768px)" />
          <source srcset="1x, 2x" media="(min-width: 375px)" />
          <img src="" alt="cocktail glass" width="158" height="201" />
        </picture>
      </li>
      <li class="rest-pics-item">
        <picture class="hotdogs">
          <source srcset="1x, 2x" media="(min-width: 1440px)" />
          <source srcset="1x, 2x" media="(min-width: 768px)" />
          <source srcset="1x, 2x" media="(min-width: 375px)" />
          <img src="" alt="hot-dogs" width="158" height="201" />
          </picture>
      </li>
        <li class="rest-pics-item">
        <picture class="bottle">
          <source srcset="1x, 2x" media="(min-width: 1440px)" />
          <source srcset="1x, 2x" media="(min-width: 768px)" />
          <source srcset="1x, 2x" media="(min-width: 375px)" />
          <img src="" alt="vine-bottle" width="158" height="201" />
        </picture>
      </li>
      <li class="rest-pics-item">
        <picture class="cooker">
          <source srcset="1x, 2x" media="(min-width: 1440px)" />
          <source srcset="1x, 2x" media="(min-width: 768px)" />
          <source srcset="1x, 2x" media="(min-width: 375px)" />
          <img src="" alt="experienced cooker" width="158" height="201" />
        </picture>
        </li>
         <li class="rest-pics-item">
        <picture class="salmon">
          <source srcset="1x, 2x" media="(min-width: 1440px)" />
          <source srcset="1x, 2x" media="(min-width: 768px)" />
          <source srcset="1x, 2x" media="(min-width: 375px)" />
          <img src="" alt="baked salmon" width="158" height="201" />
        </picture>
        </li>
        </ul>

        <div class="rest-buttons">
        <button type="button" class="rest-book-tbl btn">book a table</button>
        <a class="rest-menu" href="" target="_blank">View the menu</a>
        </div>
        
    </div>
</section>