<section class="section welcome">
  <div class="container">
    <h2 class="title welcome-title">
      Welcome to the epitome of luxury and comfort
    </h2>
    <p class="welcome-desc">
      Our hotel rooms are elegantly designed with an eye for detail, ensuring
      that you have everything you need for a relaxing and rejuvenating stay.
    </p>
    <p class="welcome-desc">
      Each room is equipped with the latest amenities, including plush bedding,
      high-speed Wi-Fi, flat-screen TVs, and a coffee maker to help you start
      your day right. Our spacious bathrooms feature luxurious toiletries and
      towels, so you can pamper yourself in complete privacy.
    </p>
    <picture>
      <source
        srcset=" 1x,  2x"
        media="(min-width: 1440px)"
      />
      <source
        srcset=" 1x,  2x"
        media="(min-width: 768px)"
      />
      <source
        srcset=" 1x,  2x"
        media="(min-width: 375px)"
      />
      <img src="" alt="complex-hall" class="welcome-img" />
    </picture>
  </div>
</section>
