<section class=" welcome">
  <div class="container welcome-container">
    <div class="text-wrapper">
      <h2 class="title welcome-title">
        Welcome to the epitome of <span class="italic-title">luxury</span > and <spn class="italic-title">comfort</spn >
      </h2>
      <ul class="list welcome-text-list">
        <li class="item welcome-text-item">
          <p class="text welcome-desc first">
            Our hotel rooms are elegantly designed with an eye for detail,
            ensuring that you have everything you need for a relaxing and
            rejuvenating stay.
          </p>
        </li>
        <li class="item welcome-text-item">
          <p class="text welcome-desc">
            Each room is equipped with the latest amenities, including plush
            bedding, high-speed Wi-Fi, flat-screen TVs, and a coffee maker to help
            you start your day right. Our spacious bathrooms feature luxurious
            toiletries and towels, so you can pamper yourself in complete privacy.
          </p>
        </li>
      </ul>
    </div >
    <picture>
      <source srcset="../img/desktop/main-welcome-map/welcome-desktop.jpg 1x, ../img/desktop/main-welcome-map/welcome-desktop@2x.jpg 2x" media="(min-width: 1440px)" />
      <source srcset="../img/tablet/main-welcome-map/welcome-tablet.jpg 1x, ../img/tablet/main-welcome-map/welcome-tablet@2x.jpg 2x" media="(min-width: 768px)" />
      <source srcset="../img/mobile/main-welcome-map/welcome-mobile.jpg 1x, ../img/mobile/main-welcome-map/welcome-mobile@2x.jpg 2x" media="(min-width: 375px)" />
      <img src="../img/mobile/main-welcome-map/welcome-mobile.jpg" alt="complex-hall" class="welcome-img" width="672" height="599"/>
    </picture>
  </div>
</section>
