<section class="hotel-room section">
<div class="container hotel-room-container">
   
    <div class="hotel-room-photo">
        <ul class="room-gallery list">

            <li class="room-gallery-photo item">
                <picture>
                    <source srcset="" media="(min-width: 1440px)" />
                    <source srcset="" media="(min-width: 768px)" />
                    <source srcset="" media="(max-width: 767px)" />
                    <img src="" alt="room's main view" class="room-gallery-picture" />
                </picture>
            </li>

            <li class="room-gallery-photo item">
                <picture>
                    <source srcset="" media="(min-width: 1440px)" />
                    <source srcset="" media="(min-width: 768px)" />
                    <source srcset="" media="(max-width: 767px)" />
                    <img src="" alt="room's bathroom view" class="room-gallery-picture" />
                </picture>
            </li>

            <li class="room-gallery-photo item">
                <picture>
                    <source srcset="" media="(min-width: 1440px)" />
                    <source srcset="" media="(min-width: 768px)" />
                    <source srcset="" media="(max-width: 767px)" />
                    <img src="" alt="room's kitchen view" class="room-gallery-picture" />
                </picture>
            </li>

        </ul>
    </div>

    <h2 class="room-header-title">DOUBLE LUXURY ROOM</h2>
    <div class="room-description">
        <p class="room-description-text">Experience luxury in our Double Luxury Room at Mimino Hotel. This spacious room
            features a comfortable bed, private
            bathroom, flat-screen TV, and high-speed Wi-Fi. Climate control, blackout curtains, and soundproofing ensure
            a peaceful
            night's sleep.</p>
        <p class="room-description-text">Relax after a busy day at the writing desk or armchair. Book now for a
            convenient and comfortable stay.</p>
    </div>

    <div class="hotel-room-btns">
        <a href="../room/amenities.html" class="link"><button type="button" class="room-details-btn btn">More details</button></a>
        <button type="button" class="room-price-btn btn">View prices</button>
    </div>
</div>