<section class="hotel-room section">
    <div class="container hotel-room-container">

        <div class="hotel-room-photo">
            <ul class="room-gallery list">

                <li class="room-gallery-photo item">
                    <picture>
                        <source srcset="" media="(min-width: 1440px)" />
                        <source srcset="" media="(min-width: 768px)" />
                        <source srcset="" media="(max-width: 767px)" />
                        <img src="" alt="room's main view" class="room-gallery-picture" />
                    </picture>
                </li>

                <li class="room-gallery-photo item">
                    <picture>
                        <source srcset="" media="(min-width: 1440px)" />
                        <source srcset="" media="(min-width: 768px)" />
                        <source srcset="" media="(max-width: 767px)" />
                        <img src="" alt="room's bathroom view" class="room-gallery-picture" />
                    </picture>
                </li>

                <li class="room-gallery-photo item">
                    <picture>
                        <source srcset="" media="(min-width: 1440px)" />
                        <source srcset="" media="(min-width: 768px)" />
                        <source srcset="" media="(max-width: 767px)" />
                        <img src="" alt="room's kitchen view" class="room-gallery-picture" />
                    </picture>
                </li>

            </ul>
        </div>

        <h2 class="room-header-title">FOUR-SEATER ROOM</h2>
        <div class="room-description">
            <p class="room-description-text">Our 4-person room is perfect for small groups, offering comfort and
                convenience with 4 comfortable beds, ample storage,
                flat-screen TV, mini-fridge, coffee maker, desk and chair, air-conditioning, heating, and soundproof
                walls. Book now for
                a memorable stay.</p>
        </div>

        <div class="hotel-room-btns">
            <a href="../room/" class="link"><button type="button" class="room-details-btn btn">More details</button></a>
            <button type="button" class="room-price-btn btn">View prices</button>
        </div>
    </div>