<section class="hero-hotel section">
  <div class="container">
    <div class="hero-hotel-container">
      <div class="hero-hotel-block">
        <h1 class="hero-hotel-title hero-title">hotel</h1>
        <div class="hero-hotel-btn-block">
          <button type="button" class="hero-btn btn">book a room</button>
          <button type="button" class="hero-btn btn">View prices</button>
        </div>
      </div>
      <div class="hero-hotel-cards">
        <ul class="hero-hotel-gallery list">
          <li class="hero-hotel-gallery-item item">
            <picture>
              <source
                srcset="
                  ../../../img/desktop/main-hotel-hero/slider-hero1-desktop.jpg    1x,
                  ../../../img/desktop/main-hotel-hero/slider-hero1-desktop@2x.jpg 2x
                "
                media="(min-width: 1440px)" />
              <source
                srcset="
                  ../../../img/tablet/main-hotel-hero/hero1-tablet.jpg    1x,
                  ../../../img/tablet/main-hotel-hero/hero1-tablet@2x.jpg 2x
                "
                media="(min-width: 768px)" />
              <source
                srcset="
                  ../../../img/mobile/main-hotel-hero/hero1-mobile.jpg    1x,
                  ../../../img/mobile/main-hotel-hero/hero1-mobile@2x.jpg 2x
                "
                media="(max-width: 767px)" />
              <img
                src="../../../img/mobile/main-hotel-hero/hero1-mobile.jpg"
                alt="hotel"
                class="hero-gallery-picture"
            /></picture>
          </li>
          <li class="hero-hotel-gallery-item item">
            <picture>
              <source
                srcset="
                  ../../../img/desktop/main-hotel-hero/slider-hero2-desktop.jpg    1x,
                  ../../../img/desktop/main-hotel-hero/slider-hero2-desktop@2x.jpg 2x
                "
                media="(min-width: 1440px)" />
              <source
                srcset="
                  ../../../img/tablet/main-hotel-hero/hero2-tablet.jpg    1x,
                  ../../../img/tablet/main-hotel-hero/hero2-tablet@2x.jpg 2x
                "
                media="(min-width: 768px)" />
              <source
                srcset="
                  ../../../img/mobile/main-hotel-hero/hero2-mobile.jpg    1x,
                  ../../../img/mobile/main-hotel-hero/hero2-mobile@2x.jpg 2x
                "
                media="(max-width: 767px)" />
              <img
                src="../../../img/mobile/main-hotel-hero/hero2-mobile.jpg"
                alt="hotel"
                class="hero-gallery-picture"
            /></picture>
          </li>
          <!-- картинки для слайду
            <li class="hero-hotel-gallery-item item">
                    <picture>
                    <source
                      srcset=""
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset=""
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset=""
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    /></picture>
        </li>
        <li class="hero-hotel-gallery-item item">
                            <picture>
                    <source
                      srcset=""
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset=""
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset=""
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    /></picture>
        </li>
        <li class="hero-hotel-gallery-item item">
                            <picture>
                    <source
                      srcset="
                      
                      "
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="

                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    /></picture>
        </li>
        <li class="hero-hotel-gallery-item item">
                            <picture>
                    <source
                      srcset="
                      
                      "
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="

                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    /></picture>
        </li>
        <li class="hero-hotel-gallery-item item">
                            <picture>
                    <source
                      srcset="
                      
                      "
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="

                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    /></picture>
        </li>
        <li class="hero-hotel-gallery-item item">
                            <picture>
                    <source
                      srcset="
                      
                      "
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="

                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    /></picture>
        </li>
        <li class="hero-hotel-gallery-item item">
                            <picture>
                    <source
                      srcset="
                      
                      "
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="

                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    /></picture>
        </li>
        <li class="hero-hotel-gallery-item item">
                            <picture>
                    <source
                      srcset="
                      
                      "
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="

                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    /></picture>
        </li>
        <li class="hero-hotel-gallery-item item">
                            <picture>
                    <source
                      srcset="
                      
                      "
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="

                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    /></picture>
        </li>
        <li class="hero-hotel-gallery-item item">
                            <picture>
                    <source
                      srcset="
                      
                      "
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="

                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    /></picture>
        </li>
        <li class="hero-hotel-gallery-item item">
                            <picture>
                    <source
                      srcset="
                      
                      "
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="

                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    /></picture>
        </li>
        <li class="hero-hotel-gallery-item item">
                            <picture>
                    <source
                      srcset="
                      
                      "
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="

                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    /></picture>
        </li>
        <li class="hero-hotel-gallery-item item">
                            <picture>
                    <source
                      srcset="
                      
                      "
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="

                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src=""
                      alt=""
                      class="hero-gallery-picture"
                    /></picture>
        </li>
-->
        </ul>
        <div class="hero-hotel-click">
          <button class="hero-icon-btn hero-left-btn" type="button">
            <svg class="hero-icons" width="7px" height="14px">
              <use href="../../../img/icon-sprite.svg#icon-left"></use>
            </svg>
          </button>
          <button class="hero-icon-btn" type="button">
            <svg class="hero-icons" width="7px" height="14px">
              <use href="../../../img/icon-sprite.svg#icon-right"></use>
            </svg>
          </button>
        </div>
      </div>
      <p class="hero-hotel-text text">
        Whether you're in the mood for a hearty breakfast, a light lunch, or
        <em>a romantic dinner,</em> our menu has something for everyone.
      </p>
    </div>
  </div>
</section>
