<section class="hotel-room section">
    <div class="container hotel-room-container">
        
        <div class="hotel-room-photo">
            <ul class="room-gallery list">

                <li class="room-gallery-photo item">
                    <picture>
                        <source srcset="" media="(min-width: 1440px)" />
                        <source srcset="" media="(min-width: 768px)" />
                        <source srcset="" media="(max-width: 767px)" />
                        <img src="" alt="room's main view" class="room-gallery-picture" />
                    </picture>
                </li>

                <li class="room-gallery-photo item">
                    <picture>
                        <source srcset="" media="(min-width: 1440px)" />
                        <source srcset="" media="(min-width: 768px)" />
                        <source srcset="" media="(max-width: 767px)" />
                        <img src="./src/img/mobile/hotel-room-triple/trp-room1-mobile.jpg" alt="room's bathroom view" class="room-gallery-picture" />
                    </picture>
                </li>

                <li class="room-gallery-photo item">
                    <picture>
                        <source srcset="" media="(min-width: 1440px)" />
                        <source srcset="" media="(min-width: 768px)" />
                        <source srcset="" media="(max-width: 767px)" />
                        <img src="" alt="room's kitchen view" class="room-gallery-picture" />
                    </picture>
                </li>

            </ul>
        </div>

        <h2 class="room-header-title">TRIPLE ROOM</h2>
        <div class="room-description">
            <p class="room-description-text">Escape to our spacious Triple Room, perfect for families or groups. Enjoy
                comfort with three beds, seating area,
                stunning views, flat-screen TVs, Wi-Fi, and mini-fridge.</p>
            <p class="room-description-text">Rejuvenate in the en-suite bathroom with plush towels and toiletries. Book
                now for a memorable stay.</p>
        </div>

        <div class="hotel-room-btns">
            <a href="../room/" class="link"><button type="button" class="room-details-btn btn">More details</button></a>
            <button type="button" class="room-price-btn btn">View prices</button>
        </div>
    </div>