<section class="hotel-room section">
    <div class="hotel-room-container">
        
        <div class="hotel-room-photo">
            <ul class="room-gallery list">
                <li class="room-gallery-main-photo item">
                                <picture>
                                    <source srcset="
                                                                ../img/desktop/hotel-room-triple/trp-room1-desktop.jpg 1x,
                                                                ../img/desktop/hotel-room-triple/trp-room1-desktop@2x.jpg 2x,
                                                                " media="(min-width: 1440px)" />
                                    <source srcset="
                                                                ../img/tablet/hotel-room-triple/trp-room1-tablet.jpg 1x,
                                                                ../img/tablet/hotel-room-triple/trp-room1-tablet@2x.jpg 2x,                    
                                                                " media="(min-width: 768px)" />
                                    <source srcset="
                                                                ../img/mobile/hotel-room-triple/trp-room1-mobile.jpg 1x,
                                                                ../img/mobile/hotel-room-triple/trp-room1-mobile@2x.jpg 2x,                    
                                                                " media="(max-width: 767px)" />
                                    <img src="../img/mobile/hotel-room-triple/trp-room1-mobile.jpg" alt="main view"
                                        class="room-gallery-picture" />
                                </picture>
                            </li>
                            
                            <div class="two-photos-wrap">
                            <li class="room-gallery-photo-bathroom item">
                                <picture>
                                    <source srcset="
                                                                ../img/desktop/hotel-room-triple/trp-room2-desktop.jpg 1x,
                                                                ../img/desktop/hotel-room-triple/trp-room2-desktop@2x.jpg 2x,
                                                                " media="(min-width: 1440px)" />
                                    <source srcset="
                                                                ../img/tablet/hotel-room-triple/trp-room2-tablet.jpg 1x,
                                                                ../img/tablet/hotel-room-triple/trp-room2-tablet@2x.jpg 2x,                    
                                                                " media="(min-width: 768px)" />
                                    <source srcset="
                                                                ../img/mobile/hotel-room-triple/trp-room2-mobile.jpg 1x,
                                                                ../img/mobile/hotel-room-triple/trp-room2-mobile@2x.jpg 2x,                    
                                                                " media="(max-width: 767px)" />
                                    <img src="../img/mobile/hotel-room-triple/trp-room2-mobile.jpg" alt="room's bathroom view"
                                        class="room-gallery-picture" />
                                </picture>
                            </li>
                            
                            <li class="room-gallery-photo-kitchen item">
                                <picture>
                                    <source srcset="
                                                                ../img/desktop/hotel-room-triple/trp-room3-desktop.jpg 1x,
                                                                ../img/desktop/hotel-room-triple/trp-room3-desktop@2x.jpg 2x,
                                                                " media="(min-width: 1440px)" />
                                    <source srcset="
                                                                ../img/tablet/hotel-room-triple/trp-room3-tablet.jpg 1x,
                                                                ../img/tablet/hotel-room-triple/trp-room3-tablet@2x.jpg 2x,                    
                                                                " media="(min-width: 768px)" />
                                    <source srcset="
                                                                ../img/mobile/hotel-room-triple/trp-room3-mobile.jpg 1x,
                                                                ../img/mobile/hotel-room-triple/trp-room3-mobile@2x.jpg 2x,                    
                                                                " media="(max-width: 767px)" />
                                    <img src="../img/mobile/hotel-room-triple/trp-room3-mobile.jpg" alt="room's kitchen view"
                                        class="room-gallery-picture" />
                                </picture>
                            </li>
            </ul>
        </div>

        <h2 class="room-header-title">TRIPLE ROOM</h2>
        <div class="room-description">
            <p class="room-description-text">Escape to our spacious Triple Room, perfect for families or groups. Enjoy
                comfort with three beds, seating area,
                stunning views, flat-screen TVs, Wi-Fi, and mini-fridge.</p>
            <p class="room-description-text">Rejuvenate in the en-suite bathroom with plush towels and toiletries. Book
                now for a memorable stay.</p>
        </div>

        <div class="hotel-triple-room-btns">
            <a href="./room.html" class="room-details-btn btn link">More details</a>
            <button type="button" class="room-price-btn btn">View prices</button>
        </div>
    </div>
</section>