.hotel-room-container {
    margin-right: auto;
    margin-left: auto;
    width: 335px;
}

.hotel-room-photo {
    margin-bottom: 32px;
}

.room-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
    justify-content: center;
}

.room-gallery-main-photo {
    width: 335px;
}

.two-photos-wrap {
    display: flex;
    gap: 19px;
}

.room-gallery-photo-bathroom,
.room-gallery-photo-kitchen {
    width: 158px;
}

.room-header-title {
    font-size: 32px;
    font-weight: 700;
    line-height: calc(40 / 32);
    text-align: left;
    margin-bottom: 32px;
    max-width: 246px;
}

.room-description {
    display: flex;
    flex-direction: column;
    gap: 19px;
    margin-bottom: 32px;
}

.room-description-text {
    text-transform: uppercase;
    letter-spacing: -0.02em;
    text-align: left;
}

.hotel-triple-room-btns {
    display: flex;
    gap: 10px;
}

@media screen and (min-width: 375px) {
    .hotel-room-container {
        margin-right: auto;
        margin-left: auto;
        width: 335px;
    }
}

@media screen and (min-width: 768px) {
    .hotel-room-container {
        margin-right: auto;
        margin-left: auto;
        width: 704px;
    }

    .room-gallery {
        flex-direction: row-reverse;
        gap: 32px;
    }

    .room-gallery-main-photo {
        width: 331px;
    }

    .room-gallery-photo-bathroom {
        width: 223px;
    }

    .room-gallery-photo-kitchen {
        width: 341px;
    }

    .two-photos-wrap {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: flex-end;
    }

    .room-header-title {
        max-width: 100%;
        font-size: 40px;
        line-height: calc(44 / 40);

    }

    .room-description {
        display: flex;
        flex-direction: row;
        gap: 32px;
        margin-bottom: 32px;
    }

    .room-description-text {
        font-size: 18px;
        line-height: calc(24 / 18);
    }

    .room-description-text-one {
        width: 369px;
    }

    .room-description-text-two {
        width: 299px;
    }

    .hotel-triple-room-btns {
        gap: 14px;
        justify-content: end;
    }

}

@media screen and (min-width: 1440px) {
    .hotel-triple-room-btns {
        gap: 14px;
        justify-content: flex-start;
    }

}