.about-rest-container {
margin-bottom: 32px;
} 

.about-rest-gallary-list {
display: flex;
flex-wrap: wrap;
margin-bottom: 20px;
}

.img-1 {
width: 335px;
margin-bottom: 20px;
height: 443px;
}

.wrap-part-img-ab-rest {
display: flex;
}

.img-2 {
object-fit: cover;
width: 158px;
height: 149px;
margin-right: 20px;
}

.img-3 {
object-fit: cover;
width: 157px;
height: 149px;
}

.about-rest-text-desk-1,
.about-rest-text-desk-2 {
display: none;
}


.about-rest-text-1 {
line-height: 1.29;
text-transform: uppercase;
color: #000000;
margin-bottom: 24px;
}

.about-rest-text-2 {
line-height: 1.29;
text-transform: uppercase;
color: #000000;
}


@media screen and (min-width:768px) {
   
   .about-rest-container {
      margin-bottom: 40px;
   } 

   .about-rest-gallary-list {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row-reverse;
   }

   .img-1 {
   object-fit: cover;
   width: 388px;
   height: 515px;
   }

   .wrap-part-img-ab-rest {
      display: block;
   }

   .img-2 {
   object-fit: cover;
   width: 284px;
   height: 296px;
   margin-right: 32px;
   margin-bottom: 16px;
   }

   .img-3 {
   object-fit: cover;
   width: 284px;
   height: 203px;
   }

   .text-about-restaurant {
    display: flex;
   }

   .about-rest-text-1 {
   font-size: 18px;
   line-height: 1.33;
   text-transform: uppercase;
   color: #000000;
   margin-right: 32px;
   width: 349px;
   margin-bottom: 0;
   }

   .about-rest-text-2 {
   font-size: 18px;
   line-height: 1.33;
   text-transform: uppercase;
   color: #000000;
   width: 323px;
   }
}

@media screen and (min-width: 1440px) {
   .about-rest-container {
      margin-bottom: 0;
   } 

   .about-rest-gallary-list {
      margin-bottom: 0;
   }

   .about-rest-container {
      margin-bottom: 50px;
   }

   .about-rest-gallary-list {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   }

   .img-1 {
   object-fit: cover;
   width: 511px;
   height: 598px;
   margin-right: 32px;
   margin-bottom: 0;
   }
   .wrap-part-img-ab-rest {
   display: flex;
   }

   .img-2 {
   object-fit: cover;
   width: 334px;
   height: 389px;
   margin-right: 32px;
   margin-bottom: 32px;
   }

   .img-3 {
   object-fit: cover;
   width: 467px;
   height: 389px;
   margin-bottom: 32px;
   }

   .text-about-restaurant {
    display: flex;
   }

   .about-rest-text-1,
   .about-rest-text-2 {
   display: none;
   }

   .about-rest-text-desk-1 {
   display: block;
   font-weight: 500;
   font-size: 18px;
   line-height: 1.33;
   text-transform: uppercase;
   color: #000000;
   margin-bottom: 0;
   width: 334px;
   }

   .about-rest-text-desk-2 {
   display: block;
   font-weight: 500;
   font-size: 18px;
   line-height: 1.33;
   text-transform: uppercase;
   color: #000000;
   margin-bottom: 0;
   width: 467px;
   }
}
