.menu-rest {
background-color: var(--brand-color);
}
  
.menu-rest-title {
font-weight: 700;
font-size: 32px;
line-height: 1.25;
text-transform: uppercase;
color: var(--text-color);
width: 301px;
padding-bottom: 36px;
margin-right: auto;
margin-left: auto;
}

.menu-container-wrap {
padding-left: 0;
}

.menu-rest-suptitle {
font-style: italic;
font-weight: 700;
font-size: var(--basic-font-size);
line-height: var(--basic-lineheight);
letter-spacing: -0.02em;
text-transform: uppercase;
color: var(--text-color);;
}

.hide-list {
display: none;
}

.menu-rest-hot-meals {
margin-right: auto;
margin-left: auto;
}

.menu-rest-suptitle {
margin-bottom: 32px;
}

.menu-rest-list{
margin-bottom: 38px;
}
.menu-rest-item {
}

.menu-rest-item:not(:first-child) {
margin-top: 14px;
}

.menu-rest-item:after {
display: block;
content:'';
height: 1px;
background-color: rgba(255, 255, 255, 0.5);
}

.menu-rest-wrap {
display: flex;
margin-bottom: 8px;
justify-content: space-between;
}

.sub-menu-rest-wrap {
margin-bottom: 14px;
}
 
.menu-description-name {
display: flex;
color: var(--text-color);
}

.menu-description-name:before {
content:'•';
margin-right: 10px;
margin-left: 10px;
border-radius: 50%;
color: var(--text-color);
}

.menu-description-wight {
font-size: 12px;
line-height: var(--second-lineheight);
color: var(--backgrond-color);
}

.menu-description-composition {
width: 211px;
font-size: 10px;
line-height: 1.4;
letter-spacing: 0.18em;
color: rgba(216, 215, 215, 0.5);
}

.menu-description-price {
font-weight: 700;
line-height:var(--basic-lineheight);
color: var(--text-color);
}

.btn-r-l {
display: flex;
justify-content: center;
margin-bottom: 40px; 
}

.menu-pre-btn,
.menu-next-btn {
background-color: transparent;
border: transparent;
fill: transparent;
}

.menu-pre-left,
.menu-next-icons {
stroke:rgba(247, 247, 247, 0.3);
transform: matrix(1, 0, 0, -1, 0, 0);
transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-pre-left,
.menu-next-icons:is(:hover,:focus) {
stroke: var(--text-color);
}

.menu-btn{
margin-right: auto;
margin-left: auto;
margin-bottom: 32px;
}

.menu-btn-wrap {
display: flex;
justify-content: center;
margin-right: auto;
margin-left: auto;
}

@media screen and (min-width:768px) {

    .menu-rest-title {
    margin-top: 30px;
    padding-bottom: 64px;
    }

    .menu-container-wrap {
    width: 515px;
    margin-right: auto;
    margin-left: auto;
    }

    .menu-description-name {
    font-size: var(--basic-font-size);
    }

    .menu-description-wight {
    font-size: var(--second-font-size);
    }

    .menu-description-composition {
    font-size: 12px;
    width: 345px;
    }

    .menu-description-price {
    font-size: var(--basic-font-size);
    }
    
    .menu-btn {
    margin-right: auto;
    margin-left: 0;
    margin-bottom: 40px;
    }
}

@media screen and (min-width: 1440px) {

    .menu-rest-title {
    margin-top: 50px;
    padding-bottom: 100px;
    }

    .menu-container-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 1104px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    }

    .menu-rest-hot-meals {
    display: inline-block;
    margin-right: 0;
    margin-left: 0;
    }

    .menu-rest-gap {
    margin-right: 74px;
    }

    .menu-rest-list{
    display: inline-block;
    }

    .hide-list {
    display: inline-block;
    }

    .menu-rest-list {
    width: 515px;
    margin-bottom: 50px;
    }

   .menu-rest-group-des-drink {
    display: flex;
    flex-direction: column;
    height: 436px;
   }

   .desert-gap {
    margin-bottom: 19px;
   }

   .list-menu-gap {
    margin-bottom: 0;
   }

   .menu-btn-wrap {
    margin-left: 0;
    display: block;
   }
    
    .menu-btn {
    margin-right: 0;
    margin-left: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    }

    .menu-pre-btn,
    .menu-next-btn {
    display: none;
    }
}

